<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/mlg.jpg" alt="iqbal"  width="200px"  class="img-thumbnail rounded-circle"/>
      <h1 class="display-4">Iqbal Dwi Rachmad</h1>
      <p class="lead">Mahasiswa & trader</p>
    </div>
  </div>
</div>
