<!-- di dalam ejs <%=  %> dan <%-  %> itu sama menampilkan ke html-->
<!-- yang mana jika dengan satu2 maka mengunakan include -->
<!-- tetapi bedanya iala jika pakai = maka akan di tulis sebagai escape carakter menjadi &lt / malah dicetal isinya ga ke htmlnya-->
    <h1>Halaman about</h1>