<!-- kenapa ko file img kita yang mau kita tambahkan ko tidak muncul jika tidak pakai middware
 malah muncul pesan 404 karena express itu melindungi file2 statiskita kayak gambar css js script, musik video itu tidak bisa di akses -->
<!-- supaya kita bisa mengakses ke file2 tersebut maka kita harus kasi tau ke expressnya yang mana kita punya folder publik yang isinya file2 statis 
  yang boleh di akses oleh siapapun-->
<!-- yang mana itu digunakan dengan middlewaee yang namanya express.static -->
<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/mlg.jpg" alt="iqbal"  width="200px"  class="img-thumbnail rounded-circle"/>
      <h1 class="display-4">Iqbal Dwi Rachmad</h1>
      <p class="lead">Mahasiswa & trader</p>
    </div>
  </div>
</div>
